@model CarreraCaballos.Models.CarreraViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Inicio, htmlAttributes: new { @class = "col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker" } })
        @Html.ValidationMessageFor(model => model.Inicio, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <label class="col-md-2">Caballo</label>
    <div class="col-md-8">
        <select id="optCaballo" class="form-control">
            <option value="">Seleccione un caballo</option>
            @foreach (var caballo in Model.Caballos)
            {
                <option value="@caballo.Id">@caballo.Descripcion</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-secondary" id="addCaballo">Agregar</button>
    </div>
</div>
<table class="table table-striped" id="tableCaballo">
    <tr>
        <th>Caballo</th>
        <th>#</th>
    </tr>
</table>
<div id="caballosSelectedId"></div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</div>
