@model CarreraCaballos.Database.Carrera
@{
    ViewBag.Title = "Detalle de carrera";
}
<h4>Detalle de Carrera</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Inicio)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Inicio)
    </dd>
</dl>
<h6>Caballos</h6>
<ul>
    @foreach (var caballo in Model.Caballos)
    {
        <li>@caballo.Descripcion</li>
    }
</ul>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
